{% block body %}
<div class="example-wrapper">
    <div>
        <h1>Test Pagination</h1>
    </div>
    <div>
        {% for article in model.pagination.items %}
            <p>{{ article.title }}</p>
        {% endfor %}
    </div>
    <div>
        {% if model.previousPage %}
        {# TODO link to previous page #}
            {{ model.previousPage }}
        {% endif %}
        {% if model.nextPage %}
        {# TODO link to next page #}
            {{ model.nextPage }}
        {% endif %}

        {# Remove knp paginator render #}
        {{knp_pagination_render(model.pagination)}}
    </div>
</div>
{% endblock %}
