{% block body %}
<div class="example-wrapper">
    <div>
        <h1>Test Pagination</h1>
    </div>
    <div>
        {% for article in page.content.pagination.items %}
            <p>{{ article.title }}</p>
        {% endfor %}

        {% if page.content.previousPage %}
            {{ page.content.previousPage }}
        {% endif %}
        
        {% if page.content.nextPage %}
            {{ page.content.nextPage }}
        {% endif %}
        

        {# Remove knp paginator render #}
       {{ knp_pagination_render(page.content.pagination) }}
    </div>
</div>
{% endblock %}
